*{
    padding: 0;margin: 0;
    /* border: yellowgreen solid 1px; */
}

html {font-size: 100%;} /*16px*/
body{
    font-family: 'Helvetica', sans-serif;
    background-color: #F9FAF8;
    font-weight: 400;
    color: #1F2937;
    line-height: 1.75;
}

/* p {margin-bottom: 1rem;} */
h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Helvetica', sans-serif;
  font-weight: 900;
  line-height: 1.3;
}
h1 {
  margin-top: 0;
  font-size: 2.488rem;
}
h2 {font-size: 2.074rem;}
h3 {font-size: 1.728rem;}
h4 {font-size: 1.44rem;}
h5 {font-size: 1.2rem;}
h6{font-size: 1.1rem;
font-weight: 900;}
small, .text_small {font-size: 0.833rem;}

button{
    width: 100px; height: 30px;
    margin-top: 20px;
    background-color: #3882F6;
    border: #3882F6 2px solid;
    color: #F9FAF8;
    border-radius: 8px;
}

header{
    background-color: #1F2937;
    color: #F9FAF8;
    /* height: 530px; */
}
header > .header, main > .info, main > .information,
main > .quote{
    max-width: 1022px;
    margin: 0 auto;

}
header  nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}
header nav > .menu > a{
    margin-left: 3rem;
    text-decoration: none;
    color: #F9FAF8;
}.menu > a:hover{
    text-decoration:underline;
}

header .hero{
    padding: 6rem 0;
    display: flex;
    flex: 1 1 auto;
    gap: 1.38rem;
    justify-content: space-between;
}

section.hero img{
    height: 230px;
    width: 520px;
}
section.hero > .hero-content{
    width: 450px;
}

/* MAIN section */

main{
    text-align: center;
}
main > section.information {
    padding: 6rem 0;
}
section > .info  {
    display: flex;
    justify-content: space-around;
}
section > .info > div{
    width: 160px;
}
.info div img{
    border: #3882F6 3px solid;
    border-radius: 15px;
}

main > section.q {
    background-color: #E5E7EB;
    padding: 6rem 0;
}
section > .quote {
    /* max-width: 1022px; */
    width: 720px ;
    margin: 0 auto;
}

 section > .quote > blockquote{
    font-size: 2.074rem;
    font-style: italic;
    font-weight: 100;
    line-height: 1.25;
    text-align: left;
}
section.q > .quote > figcaption{
    text-align: right;
    font-weight: 900;
}
.call-action > div{
    display: flex;
    justify-content: space-around;
    max-width: 1022px;
    margin: 3rem auto;
    padding: 1.5rem 0;
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: left;
    border-radius: 5px;
}
.call-action > div > button{
    color: #F9FAF8;
    border: #F9FAF8 2px solid;
    background-color: inherit;
}

footer{
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;

}